*{
  box-sizing: border-box;
}
body{
   font-family: "Inter", sans-serif;;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container{
  max-width: 448px;
  margin: 0 auto;
}
h4{
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}
.container_data{
  display: flex;
  flex-direction: column;
  max-width: 448px;
  margin: 0 auto;
}

input.large{
  background-color:  #F2F4F6;
  height:48px;
  border:none;
  border-radius:8px;
  width: 448px;
  font-weight: 400;
  color: #6C6C6C;
  padding-left:18px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom:24px;
}

.fundo{
  background: #EFFAFF;
  height: 316px;
  width: 448px;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}
.fundo img{
  width: 180px ;
  height: 180px;
}
.waterOrEarth{
  display: flex;
  max-width: 448px;
  margin:0 auto;
  align-items: center;
  gap:40px;
}
.waterOrEarth button{
  width: 114px;
  height: 48px;
  padding: 11px, 27px, 15px, 26px;
  border-radius: 8px;
  border:none;
  margin-left: 12px;
}
.water_btn{
  display: flex;
}
button{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}